<h2>Verify E-Mail</h2>

<form action="/verify-email" method="POST" id="form-container">
  <label for="token">Token</label>
  <input id="token" type="number" name="token">

  <button type="submit">Submit Number</button>

</form>